{% include head.html %}

<body>
  <h1>Publications</h1>
  <ul id="pubs"></ul>

  <h1>ORCID Profile</h1>
  <ul>
    <li><strong>ORCID ID:</strong> <span id="orcid-id"></span></li>
    <li><strong>Name:</strong> <span id="name"></span></li>
    <li><strong>Email:</strong> <span id="email"></span></li>
    <li><strong>Employment:</strong> <span id="employment"></span></li>
    <li><strong>Education:</strong> <span id="education"></span></li>
  </ul>

  {% include footer.html %}

  <script>
    // Set your ORCID ID
    var orcid_id = "YOUR_ORCID_ID_HERE";

    // Use the ORCID public API to retrieve your profile data
    fetch("https://pub.orcid.org/v3.0/" + orcid_id, {
      headers: {
        "Accept": "application/vnd.orcid+json"
      }
    }).then(function(response) {
      return response.json();
    }).then(function(data) {
      // Display your ORCID profile data on the web page
      document.getElementById("orcid-id").textContent = orcid_id;
      document.getElementById("name").textContent = data['person']['name']['given-names']['value'] + " " + data['person']['name']['family-name']['value'];
      document.getElementById("email").textContent = data['person']['emails']['email'][0]['email'];
      document.getElementById("employment").textContent = data['activities-summary']['employments']['employment-summary'][0]['organization']['name'];
      document.getElementById("education").textContent = data['activities-summary']['educations']['education-summary'][0]['organization']['name'];
    }).catch(function(error) {
      console.error(error);
    });

    // Use the ORCID public API to retrieve your publication data
    fetch("https://pub.orcid.org/v3.0/" + orcid_id + "/works", {
      headers: {
        "Accept": "application/vnd.orcid+json"
      }
    }).then(function(response) {
      return response.json();
    }).then(function(data) {
      // Retrieve the list of publications from the response data
      var publications = data['group'];

      // Loop through the publications and add them to an unordered list on the web page
      for (var i = 0; i < publications.length; i++) {
        var pub = publications[i]['work-summary'][0];
        // Only include publications that have been cited
        if (pub['cited-by-count'] > 0) {
          var li = document.createElement("li");
          var a = document.createElement("a");
          var title = pub['title']['title']['value'];
          var url = pub['url']['value'];
          a.textContent = title;
          a.href = url;
          li.appendChild(a);
          document.getElementById("pubs").appendChild(li);
        }
      }
    }).catch(function(error) {
      console.error(error);
    });
  </script>
</body>
